{% extends "template.twig" %}

{% block content %}
		<article class="stats_overview" style="margin: 20px 20px 0 0">
			<div class="overview_today">
				<p class="overview_day">Online</p>
				<p class="overview_count">{{players_online}}{{max_players_online}}</p>
				<p class="overview_type">Players</p>
				<p class="overview_count">{{monsters}}</p>
				<p class="overview_type">Monsters</p>
			</div>
			<div class="overview_previous">
				<p class="overview_day">Today</p>
				<p class="overview_count">{{players_today}}</p>
				<p class="overview_type">Players</p>
			</div>
		</article>
		
		<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Content</h3></header>

		<div class="tab_container">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
    				<th>Title</th> 
    				<th>Cathegory</th> 
    				<th>Post date</th> 
    				<th>Actions</th> 
				</tr> 
			</thead> 
			<tbody> 
				{% for article in articles %}
				<tr> 
    				<td>{{article.title}}</td> 
    				<td>{{article.cathegory}}</td> 
    				<td>{{article.date}}</td> 
    				<td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
				</tr> 
				<tr> 
				{% endfor %}
   
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->		
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->

		<article class="module width_quarter">
			<header><h3>Notifications</h3></header>
			<div class="message_list">
				<div class="module_content">
					<div class="message"><p>Not implemented yet.</p>
					<p><strong>SalsaAAC</strong></p></div>
				</div>
			</div>
		</article><!-- end of messages article -->
{% endblock %}
